<h2>Cadastro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<table>
  <tr>
    <td>
      <div><%= f.label :email %><br />
    </td>
    <td>
      <%= f.email_field :email, :autofocus => true %></div>
    </td>
  </tr>

  <tr>
    <td>
      <div><%= f.label :password %><br />
    </td>
    <td>
      <%= f.password_field :password %></div>
    </td>
  </tr>

  <tr>
    <td>
      <div><%= f.label :password_confirmation %><br />
    </td>
    <td>
      <%= f.password_field :password_confirmation %></div>
    </td>
  </tr>

  <tr>
    <td>
      <div><%= f.submit "Cadastrar" %></div>
    </td>
  </tr>
</table>

<% end %>

<%= render "devise/shared/links" %>
