<%= form_for(@taf) do |f| %>
  <% if @taf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taf.errors.count, "error") %> Este Agendamento Futuro não pode ser salvo:</h2>

      <ul>
      <% @taf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Escala %><br />
    <%= f.number_field :te_id %>
  </div>
  <div class="field">
    <%= f.label :Usuario %><br />
    <%= f.number_field :tu_id %>
  </div>
  <div class="field">
    <%= f.label :Orgao %><br />
    <%= f.number_field :top_id %>
  </div>
  <div class="field">
    <%= f.label :Situacao %><br />
    <%= f.number_field :tts_id %>
  </div>
  <div class="field">
    <%= f.label :Horario_Inicio_Consulta %><br />
    <%= f.datetime_select :ta01_horario_inicio_consulta %>
  </div>
  <div class="field">
    <%= f.label :Horario_Fim_Consulta %><br />
    <%= f.datetime_select :ta02_horario_fim_consulta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
