<h1>Cadastro de Agendamentos Futuros</h1>

<table>
  <tr>
    <th>Escala</th>
    <th>Usuário</th>
    <th>Orgão</th>
    <th>Situação</th>
    <th>Horario Inicio Consulta</th>
    <th>Horario Fim Consulta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tafs.each do |taf| %>
  <tr>
    <td><%= taf.te_id %></td>
    <td><%= taf.tu_id %></td>
    <td><%= taf.top_id %></td>
    <td><%= taf.tts_id %></td>
    <td><%= taf.ta01_horario_inicio_consulta %></td>
    <td><%= taf.ta02_horario_fim_consulta %></td>
    <td><%= link_to 'Show', taf %></td>
    <td><%= link_to 'Edit', edit_taf_path(taf) %></td>
    <td><%= link_to 'Destroy', taf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Agendamento Futuro', new_taf_path %>
