<p id="notice"><%= notice %></p>

<p>
  <b>Te:</b>
  <%= @taf.te_id %>
</p>

<p>
  <b>Tu:</b>
  <%= @taf.tu_id %>
</p>

<p>
  <b>Top:</b>
  <%= @taf.top_id %>
</p>

<p>
  <b>Tts:</b>
  <%= @taf.tts_id %>
</p>

<p>
  <b>Ta01 horario inicio consulta:</b>
  <%= @taf.ta01_horario_inicio_consulta %>
</p>

<p>
  <b>Ta02 horario fim consulta:</b>
  <%= @taf.ta02_horario_fim_consulta %>
</p>


<%= link_to 'Edit', edit_taf_path(@taf) %> |
<%= link_to 'Back', tafs_path %>
