<p id="notice"><%= notice %></p>

<p>
  <b>Escala:</b>
  <%= @taf.te_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @taf.tu_id %>
</p>

<p>
  <b>Orgao:</b>
  <%= @taf.top_id %>
</p>

<p>
  <b>Situacao:</b>
  <%= @taf.tts_id %>
</p>

<p>
  <b>Horario Inicio Consulta:</b>
  <%= @taf.ta01_horario_inicio_consulta %>
</p>

<p>
  <b>Horario Fim Consulta:</b>
  <%= @taf.ta02_horario_fim_consulta %>
</p>


<%= link_to 'Edit', edit_taf_path(@taf) %> |
<%= link_to 'Back', tafs_path %>
